<div class="index">
  <header>
    <h1>Spotify artist search</h1>
  </header>
  <form action="/artist-search" method="GET">

    <label for="artistName">Enter artist's name:</label>
    <input type="text" id="artistName" name="artistName" />

    <button type="submit">Search</button>
  </form>
</div>